<div class="submenu">
	<ul>
		<li class="<%= menu_selected(:controller => :doogle_displays) %>">
			<%= link_to 'Search', doogle_displays_url %>
		</li>
		<% if permitted_to?(:manage, :doogle_displays) %>
		<li class="<%= menu_selected(:controller => :doogle_displays, :action => :new) %>">
			<%= link_to 'New Display', new_doogle_display_url %>
		</li>
		<% end %>
	</ul>
</div>
<br />