
<%= render 'doogle/displays/submenu' %>

<% title @display.model_number %>

<table class="data">
	<tbody>
<% @display.display_type.fields.each do |field| %>
	<% next if field.source_specification? and !permitted_to?(:read_source_specification) %>
	<tr>
		<td><%= field.name %></td>
		<td><%= field.render(@display) %></td>
	</tr>
<% end %>
	</tbody>
</table>

<p><%= link_to 'New Spec Version', new_doogle_display_spec_version_url(@display) %></p>
