
<% title @display.model_number %>

<% @display.display_config.fields.each do |field| %>
<p>
	<b><%= field.display_name %>:</b>
	<%= render_field(@display, field) %>
</p>
<% end %>

<% links = [] %>
<% if permitted_to?(:manage, :displays) %>
  <% links.push link_to('<span></span>Edit'.html_safe, edit_display_path(display, :return_to => displays_path), :class => 'btn edit') %>
  <% links.push link_to('<span></span>Destroy'.html_safe, display_path(display), :confirm => 'Are you sure?', :method => :delete, :class => 'btn delete')  %>
<% end %>
<% links.push link_to('Back', displays_path) %>
<%= links.join(' | ').html_safe %>